div{
    width: 400px;
    height: 300px;
    border: 1px solid black;
    background-size: cover;
    border-radius: 10px;
    margin: auto;
}
body{
    text-align: center;
}
button{
    margin: 10px 0;
    padding: 20px 28px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}